/* -Waybar Style- */

/* Pywal colors */
@import url("/home/sparsha/.cache/wal/colors-waybar.css");

/* Main Waybar */
* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

/* Space-Edges */
.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;
}

/* Workspaces */
#workspaces button.active {
    background-color: @color5;
    color: @color0;
}

#workspaces button:hover {
    background: alpha(@foreground, 0.1);
    box-shadow: none;
    color: @color5;
}

#workspaces button {
    transition: all 0.35s ease;
    margin-top: 3px;
    margin-bottom: 3px;
    color: @color5;
}

#workspaces {
    background-color: @background;
    padding: 0 5.6px 0 0;
}

/* All Modules */
#custom-launcher,
#custom-weather,
#clock,
#workspaces,
#tray,
#pulseaudio,
#custom-lock,
#custom-power {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 5px 0 5px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
    border: 0.5px solid alpha(@foreground, 0.9);
}

